.encourage-section {
  background-color: $dark-navy-blue;
  color: $white;

  @include respond-to(monitor) {
    padding-bottom: 10vh;
  }

  .sub-title {
    margin: 1.5 * $standard-gap $standard-gap;
    font-weight: $fw-light;

    &.sign-up {
      margin-top: 3 * $standard-gap;
    }

    @include respond-to(monitor) {
      margin: 3 * $standard-gap 0 1.5 * $standard-gap;
    }
  }

  .info-container {
    .info {
      margin: $standard-gap;
      text-align: left;
      font-family: $Hel;
      font-weight: $fw-light;
      font-size: 1.25rem;
      line-height: 1.3;
    }

    @include respond-to(monitor) {
      float: right;
      width: 50%;
      margin: 0 $standard-gap-w;

      h1 {
        margin: 0;
      }
      .info {
        margin: $standard-gap 0;
      }
    }
  }

  .action-container {
    .sign-up-container {
      margin: 0 $standard-gap 5 * $standard-gap $standard-gap;

      .input-block-container {
        margin-bottom: 1.25 * $standard-gap;

        &:last-of-type {
          margin-bottom: 1.5 * $standard-gap;
        }

        .input-container {
          position: relative;
          overflow: hidden;

          .input {
            width: 100%;
            height: 3rem;
            border-radius: 15px;
            border: 1px solid $white;
            background-color: $dark-navy-blue;
            outline: none;
            color: $white;
            padding-left: $standard-gap;

            &:focus {
              border-color: $light-blue;
            }

            &:hover + .input-label,
            &:focus + .input-label {
              transform: translate3d(0, 0, 0);
            }
          }

          .input-label {
            position: absolute;
            top: (3rem - 1.5rem) / 2;
            right: $standard-gap;
            font-size: 1.5rem;
            font-family: $Hel;
            font-weight: $fw-light;
            line-height: 1;
            transform: translate3d(0, 3rem, 0);
            transition: transform 0.1s linear;
          }

          //.input:hover + .input-label,
          //.input:focus + .input-label {
          //  transform: translate3d(0, 0, 0);
          //}

        }

        .error-message {
          display: none;
          font-size: 0.8rem;
          color: $white;
          padding-left: 0.5 * $standard-gap;

          &.invalid-name,
          &.invalid-email,
          &.invalid-contact,
          &.no-email-or-contact {
            display: inline-block;
          }

        }
      }

      .sign-up-button {
        border-radius: 15px;
        width: 100%;
        font-family: $Hel;
        font-weight: $fw-light;
        color: $white;
        text-align: center;
        padding: $standard-gap 0;
        border: 1px solid $approved-green;
        background-color: $approved-green;
        animation: expand 5s ease-in-out 0.5s infinite alternate;
        outline: none;
        cursor: pointer;

        &:hover {
          background-color: $dark-navy-blue;
        }

        &:disabled {
          cursor: not-allowed;
          border: 1px solid $light-blue;
          background-color: $light-blue;
        }

        .main-text {
          font-size: 1.5rem;
        }
      }
    }

    @include respond-to(monitor) {
      width: 30%;
      margin: 1.5 * $standard-gap $standard-gap-w;
      .sign-up-container {
        margin: 0;
      }
    }
  }




  // end of class
}



