.fellowship-section {
  width: 100vw;
  height: 100vh;
  background-color: $off-white;
  position: relative;
  font-size: 0;

  .info-section {
    display: flex;
    left: 0;
    position: relative;
    margin: $standard-gap auto;
    overflow: hidden;
    max-height: 216px;
    height: 30vh;
    white-space: nowrap;
    font-size: 0;

    &.slide-left{
      transition: transform 0.3s linear;
    }

    .info-section-block {
      width: 100vw;
      align-self: center;
      align-content: center;
      display: inline-block;
      top: 0;
      justify-content: center;
    }

    .info-section-text {
      position: relative;
      margin: 0 auto;
      padding-bottom: $font-gap;
      vertical-align: middle;
      font-family: $HN;
      font-weight: 100;
      font-size: 3.2rem;
      text-align: center;
      width: 90vw;
      overflow: hidden;
      white-space: normal;


    }
  }

  .profile-pic-container {
    position: relative;
    height: 47vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    padding: 0 10%;
    margin-top: $standard-gap * 2;
    text-align: right;

    .profile-pic-small {
      opacity: 0;
      position: relative;
      width: 35vw;
      max-width: 150px;
      height: 35vw;
      max-height: 150px;
      border-radius: 50%;
      clear: both;

      &:nth-child(odd) {
        float: left;

      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: $standard-gap;
      }

      &.fade-in {
        opacity: 1;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
    }
  }
}

