.friend-section {
  background-color: $off-white;

  .section-title-container {
    @include respond-to(monitor) {
      float: right;
      width: 50vh;
      margin-right: 1.5 * $standard-gap-w;
    }
  }

  .friends-container {
    font-size: 0;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
    clear: both;

    .main-content {
      clear: both;
      @include respond-to(monitor) {
       // padding-right: $standard-gap-w;
      }
    }


    .friend-container {
      position: relative;
      display: inline-block;
      width: 100vw;
      vertical-align: top;

      .image-container {
        .friend-picture {
          display: block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border-color: $dark-gray;
          border-width: 1.5px;
          border-style: solid;
          max-height: 35vh;
          width: auto;
          margin: 1.5 * $standard-gap auto;

          @include respond-to(landscape) {
            max-height: 45vh;
          }

          @include respond-to(monitor) {
            max-height: 0.5 * 1080px;
            margin: (7 * $standard-gap) (0)  (0) (0);
          }
        }

        .name {
          font-family: $Hel;
          font-weight: $fw-light;
          font-size: 2rem;
          text-align: center;
          margin: 1.5 * $standard-gap auto;

          @include respond-to(monitor) {
            margin: 1.5 * $standard-gap 1.5 * $standard-gap-w  1.5 * $standard-gap 1 * $standard-gap-w;
          }
        }

        @include respond-to(monitor) {
          float: right;
        }
      }

      .description-container {
        .description {
          margin: 1.5 * $standard-gap auto;
          white-space: normal;

          @include respond-to(monitor) {
            max-width: 50vw;
            margin: 1.5 * $standard-gap $standard-gap-w;
          }
        }

        .family-container {
          margin: 2.5 * $standard-gap 30px;

          .family-members {
            font-size: 1.5rem;
            font-weight: $fw-light;
            white-space: normal;

            &:first-of-type {
              margin-top: $standard-gap * 0.5;
            }
          }
          @include respond-to(monitor) {
            margin: 2.5 * $standard-gap $standard-gap-w;
          }
        }

        @include respond-to(monitor) {
          margin-top: -4 * $standard-gap;
          overflow: scroll;
        }
      }
    }
  }



  // end of class
}