.friend-section {
  background-color: $off-white;

  .friends-container {
    font-size: 0;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;

    .friend-container {
      position: relative;
      display: inline-block;
      width: 100vw;
      vertical-align: top;

      .friend-picture {
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border-color: $dark-gray;
        border-width: 1.5px;
        border-style: solid;
        max-height: 35vh;
        width: auto;
        margin: 1.5 * $standard-gap auto;
      }

      .name {
        font-family: $Hel;
        font-weight: $fw-light;
        font-size: 2rem;
        text-align: center;
        margin: 1.5 * $standard-gap auto;
      }

      .description {
        margin: 1.5 * $standard-gap auto;
        white-space: normal;
      }

      .family-container {
        margin: 2.5 * $standard-gap 30px;

        .family-members {
          font-size: 1.5rem;
          font-weight: $fw-light;
          white-space: normal;

          &:first-of-type {
            margin-top: $standard-gap * 0.5;
          }
        }
      }
    }
  }



  // end of class
}