.gallery-section {
  position: relative;

  .img-container-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 1000px;
    font-size: 0;
    white-space: nowrap;
    -webkit-animation: scrollOne 800s linear infinite;
    -o-animation: scrollOne 800s linear infinite;
    animation: scrollOne 800s linear infinite;
    & img {
      display: inline-block;
      width: auto;
      height: 50vh;
    }
  }

  .img-container-2 {
    @extend .img-container-1;
    top: 50vh;
    -webkit-animation: scrollOne 1200s linear infinite;
    -o-animation: scrollOne 1200s linear infinite;
    animation: scrollOne 1200s linear infinite;
  }

  @keyframes scrollOne {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);

    }
    100% {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }



  // end of class
}