.gallery-section {
  position: relative;
  -webkit-backface-visibility: hidden;

  @include respond-to(landscape) {
    min-height: 200vh;
  }

  .img-container-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 1000px;
    font-size: 0;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    -webkit-animation: scrollOne 800s linear 2s infinite;
    -o-animation: scrollOne 800s linear 2s infinite;
    animation: scrollOne 800s linear 2s infinite;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img {
      display: inline-block;
      width: auto;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;

    }
  }

  .img-container-2 {
    @extend .img-container-1;
    top: 50%;
    -webkit-animation: scrollOne 1200s linear 2s infinite;
    -o-animation: scrollOne 1200s linear 2s infinite;
    animation: scrollOne 1200s linear 2s infinite;
  }

  @keyframes scrollOne {
    0% {
      -webkit-transform: translateX(0) translateZ(0);
      -moz-transform: translateX(0) translateZ(0);
      -ms-transform: translateX(0) translateZ(0);
      -o-transform: translateX(0) translateZ(0);
      transform: translateX(0) translateZ(0);

    }
    100% {
      -webkit-transform: translateX(-100%) translateZ(0);
      -moz-transform: translateX(-100%) translateZ(0);
      -ms-transform: translateX(-100%) translateZ(0);
      -o-transform: translateX(-100%) translateZ(0);
      transform: translateX(-100%) translateZ(0);
    }
  }



  // end of class
}