.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0 ,0, 0.7)), url(assets/fellowship-image-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding: 45vh 0;

  //@include respond-to(monitor) {
  //  max-height: 1080px;
  //}

  .page-title-container {
    width: 90%;
    margin: 0 auto;

    @include respond-to(monitor) {
      text-align: center;

    }
  }
}