.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0 ,0, 0.3));
  width: 100vw;
  height: 100vh;
  padding: 45vh 0;

  .page-title-container {
    width: 90%;
    margin: 0 auto;
  }
}