.history-section {
  height: 100vh;
  width:100vw;

  //@include respond-to(monitor) {
  //
  //}

  .picture-container {
    margin: 1.5*$standard-gap auto 0 auto;
    width: 65vw;
    max-width: 400px;
    box-shadow: 10px 10px 5px #888888;

    @include respond-to(monitor) {
      float: right;
      display: inline-block;
      min-width: 25%;
      max-width: 35%;
      margin: 2 * $standard-gap 0;
      margin-left: 0;
    }
  }

  .text-container {
    margin-top: 2*$standard-gap;
    height: 42vh;
    overflow: scroll;

    .history-text:not(:first-child) {
      margin-top: $standard-gap;
    }

    @include respond-to(monitor) {
      float: left;
      display: inline-block;
      max-width: 50%;
      margin: 2 * $standard-gap 0;
      margin-right: 0;
      height: 50%;

      .history-text {
        max-width: 100%;
      }
    }
  }


}