.history-section {
  height: 100vh;
  width:100vw;

  .picture-container {
    margin: 1.5*$standard-gap auto 0 auto;
    width: 70vw;
    max-width: 400px;
    box-shadow: 10px 10px 5px #888888;
  }

  .text-container {
    margin-top: 2*$standard-gap;
    height: 42.5vh;
    overflow: scroll;

    .history-text:not(:first-child) {
      margin-top: $standard-gap;
    }
  }


}