.listing-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0 , 0, 0, 0.65)), url('assets/Discussion-3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $white;

  .subtitle-container {
    margin-top: 0.5 * $standard-gap;
    .verse-subtitle {

      font-size: 1.5rem;
      font-weight: $fw-light;
      font-style: italic;
      text-align: center;

      @include respond-to(monitor) {
        font-size: 1rem;
        //line-height: 1;
        margin-top: 0;
      }
    }
  }



  .list-container {
    padding: 0;
    margin: 1.5 * $standard-gap auto;
    display: block;
    text-align: center;
    max-width: 90vw;

    ol {
      padding: 0;
      list-style-position: inside;
    }

    .ol-monitor {
      @extend ol;
      list-style: none;
      display: inline-block;
      max-width: 35vw;
      vertical-align: top;
    }

    .list-item {
      font-size: 1.5rem;
      font-weight: $fw-light;
      &:not(:first-of-type) {
        margin-top: 0.75 * $standard-gap
      }

      @include respond-to(monitor) {
        margin: 0 0.25 * $standard-gap-w;
        text-align: left;
        &:not(:first-of-type) {
          margin-top: $standard-gap;
        }
      }
    }

    @include respond-to(monitor) {
      width: 70vw;
      height: auto;
    }
  }


  // end of class
}