.section-title-container {
  margin: 8.15vh auto 0 auto;
  text-align: center;
  max-width: 95vw;
  position: relative;
  z-index: $high-z;

  &.text-align-left {
    @include respond-to(monitor) {
      text-align: left;
    }
  }

  .section-title {
    font-family: $HN;
    font-weight: 300;
    font-size: 3rem;

    &.small {
      font-size: 2.5rem;
    }
  }

  @include respond-to(monitor) {
    margin: 6 * $standard-gap $standard-gap-w 0;
  }
}