$selector-gap: 10px;

.sermon-outlines-section {
  height: 100vh;
  .sermon-details-container {

    margin: 2 * $standard-gap + 10px 50 / 414 * 100vw;
    width: 100vw;



    .sermon-selector-container {
      display: inline-block;
      float: left;
      position: relative;
      width: 72px;
      height: 260px;
      overflow-y: hidden;


      .sermon-selector {
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
      }

      .date-container {
        position: relative;
        height: auto;
        left: 0;
        padding: $selector-gap;


        &.slide {
          transition: margin-top 0.3s ease-out;
        }

        p {
          margin-bottom: 190%;
          display: block;
          position: relative;
          font-size: 0.65rem;
          text-align: center;
          color: $white;
        }

        .this-week {
          //bottom: 50%;
          color: $highlight-col;
        }
      }
    }



    .sermon-details {
      display: inline-block;
      height: 260px;
      width: 50%;
      position: relative;
      margin-left: 2 * $standard-gap;

      .sermon-points-container {
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        padding: $selector-gap 0;
        opacity: 0;

        &.fade-in {
          opacity: 1;
          transition: opacity 1s ease-in-out 0.3s;
        }

        .sermon-point {
          font-size: 2rem;
          font-family: 'Helvetica';
          font-weight: 200;

        }

      }
    }
  }

  .sermon-title,
  .scripture-text,
  .sermon-text {
    text-align: center;

  }

  .sermon-title {
    font-family: $HN;
    font-weight: $fw-light;
    font-size: 2.5rem;
  }

  .scripture-text {
    font-family: $HN;
    font-size: 2rem;
  }

  .sermon-text {
    font-family: $HN;
    font-size: 2rem;
  }


}
