$selector-gap: 10px;

.sermon-outlines-section {

  .sermon-details-container {

    margin: 2 * $standard-gap + 10px 50 / 414 * 100vw;
    width: 100vw;



    .sermon-selector-container {
      display: inline-block;
      float: left;
      position: relative;
      width: 72px;
      height: 260px;
      overflow-y: hidden;


      .sermon-selector {
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
      }

      .date-container {
        position: relative;
        height: auto;
        left: 0;
        padding: $selector-gap;


        &.slide {
          transition: margin-top 0.3s ease-out;
        }

        p {
          margin-bottom: 190%;
          display: block;
          position: relative;
          font-size: 0.65rem;
          text-align: center;
          color: $white;
        }

        .this-week {
          //bottom: 50%;
          color: $highlight-col;
        }
      }
    }



    .sermon-details {
      display: inline-block;
      height: 260px;
      width: 50%;
      position: relative;
      margin-left: 2 * $standard-gap;

      .sermon-points-container {
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 100%;
        padding: $selector-gap 0;
        opacity: 0;

        &.fade-in {
          opacity: 1;
          transition: opacity 1s ease-in-out 0.3s;
        }

        .sermon-point {
          font-size: 1.3rem;
          line-height: 1.5rem;
          padding-bottom: $font-gap;
          font-family: 'Helvetica';
          font-weight: 200;
          max-width: 100%;

        }

      }
    }
  }

  .sermon-header-container {
    margin: $standard-gap * 3.5 auto;
    .sermon-title,
    .scripture-text,
    .sermon-text {
      text-align: center;
      max-width: 90vw;
      margin: 0 auto;
      font-family: $HN;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    .sermon-title {
      font-weight: $fw-light;
      font-size: 2rem;
      line-height: 2.5rem;
    }

    .scripture-text,
    .sermon-text {
      margin-top: $standard-gap * 0.5;
    }
  }

}
