<section>
  <section-title @title="Kolkata" />
  <div class="map-container">
    <iframe src="{{gMapsSrc}}" width="{{screenWidth}}" height="{{screenHeight}}" frameborder="0" style="border:0" allowfullscreen>
      &nbsp;
    </iframe>
  </div>
  <div class="map-mask"></div>


</section>