<Section>
  <section-title @title="History" />
  <div class="picture-container">
    <img  src="assets/sanctuaryLARGE.jpg" alt="Picture of Congregation" />
  </div>
  <p class="history-text">{{historyText}}</p>
</Section>