<Section>
  <section-title @title="History" />
  <div class="picture-container">
    <img src={{@data.img}} alt="Picture of Congregation" />
  </div>
  <p class="history-text">{{@data.text}}</p>
</Section>